{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "array-bracket-spacing": [1, "always"],
    "comma-dangle": [1, "never"],
    "eqeqeq": [2, "smart"],
    "jsx-quotes": [1, "prefer-double"],
    "no-unused-vars": 0,
    "object-curly-spacing": [1, "always"],
    "quotes": [1, "single", "avoid-escape"],
    "semi": [1, "never"],
    "space-before-blocks": [1, "always"]
  },
  "globals": {
    "describe": false,
    "it": false
  }
}
