body {
    background: #ECEFF4;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.fragment-error {
    background: #ff5252 !important;
    padding: 20px;
    color: #fff;
}