<!doctype html>
<html>
<head>
  <title>Tailor + VueJS Example Application</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link rel="stylesheet" href="./commons/style.css" />
</head>
<body>
  <!-- header -->
  <div id="header">
    <span class="fragment-error">Fragment failed to load</span>
  </div>
  <fragment src="http://localhost:8091"></fragment>


  <!-- dashboard -->
  <div id="dashboard">
      <span class="fragment-error">Fragment failed to load</span>
    </div>
  <fragment src="http://localhost:8000"></fragment>

</body>
</html>
