<!doctype html>
<html>
<head>
  <title>Tailor + VueJS Example Application</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link rel="stylesheet" href="./commons/style.css" />
</head>
<body>
  <!-- header -->
  <div id="header">
    <span class="fragment-error">Header failed to load</span>
  </div>
  <fragment src="http://localhost:8091"></fragment>


  <!-- dashboard -->
  <div id="dashboard">
      <span class="fragment-error">Dashboard failed to load</span>
    </div>
  <fragment src="http://localhost:8090" primary></fragment>


  <!-- twitter feed -->
  <div id="dashboard">
      <span class="fragment-error">Twitter feed failed to load</span>
    </div>
  <fragment src="http://localhost:8092" timeout=1000></fragment>

</body>
</html>
